@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-modal {
      @apply text-button-text disabled:text-text3 py-2.5 px-3 enabled:hover:bg-primary4 hover:rounded-full
    }
    .btn-filled {
      @apply text-button-text bg-accent rounded-full w-[256px] h-[48px] hover:border hover:bg-background hover:border-accent active:bg-accent2
    }
    .btn-outlined {
      @apply text-button-text rounded-full w-[256px] h-[48px] border-accent border hover:bg-accent2 active:bg-accent
    }
    .btn-settings {
      @apply w-full py-2.5 text-button-text flex justify-center items-center gap-2 border-primary3 border rounded-full hover:shadow-card-shadow
    }
    .center-column {
      @apply flex flex-col items-center justify-center
    }
  }

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
